@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
  }
 
  .dark {
    --background: 240, 16%, 13%;
    --foreground: 60 9.1% 97.8%;
  }
}
 
@layer base {
  * {
      }
  body {
    @apply bg-background text-foreground;
  }
}

.swiper-pagination{
  position: relative !important;
  margin-top: 24px;
}

:is(.dark .dark\:bg-gray-700) {
  --tw-bg-opacity: 1;
  background-color: #1C1E27 !important;
}
:is(.dark .dark\:focus\:border-cyan-500:focus) {
  border-color: rgb(133, 76, 230) !important;
}

.focus\:ring-cyan-500:focus {
  outline: none !important;
  --tw-ring-color: unset !important
}

:is(.dark .dark\:bg-gray-800\/30){
  background-color: rgb(255 255 255 / 0.3) !important;
}